/* .form{
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 100%;
} */
.form{
    --input-focus: #2d8cf0;
    --font-color: #000000;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 100%;
    flex-direction: column;
}

.input {
    width: 20rem;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }

  @media only screen and (max-width: 750px ) {
    .input {
      width: 100%;
      margin-bottom: 4rem;
    }
  }

  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }